<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

        <bean id="bean1" class="com.wmware.certification.practice.revision.module1.applicationContext.annotationConfigApplicationContext.beans.Bean1">
        </bean>
<!-- need context if we want annotation to work -->
<!--        <context:component-scan base-package="com.wmware.certification.practice.revision.module1.applicationContext.annotationConfigApplicationContext" />-->

</beans>